<div class ="container" style="border: thin solid black">

<form id = "new_issue_form" method="POST" action="/issues">
	<br>
	Title: <input type="text" name="group[title]" placeholder=" Title" />
	<br>
	Description: <input type="text" name="group[description]" placeholder=" Description" />
	<br>
 <input type="submit" value ='Submit Issue'/>

</form>
<br>
</div>