<div class ="container" style="border: thin solid black">

<form id = "new_group_form" method="POST" action="/groups">
	<br>
	Group Name: <input type="text" name="group[name]" placeholder=" Name" />
	<br>

 <input type="submit" value ='Save Group'/>

</form>
<br>
</div>