<h2>Edit</h2>
<div class ="container" style="border: thin solid black">

<form id = "new_user_form" method="POST" action="/users">
	<br>
	Username: <input type="text" name="user[username]" value= <%= user.username %> />
	<br>
 Email Address:<input type="text" name="user[email]" value= <%= user.email %> />
	<br>
 Phone Number:<input type="text" name="user[phone]" value= <%= user.phone %> />
	<br>

 <input type="submit" value ='Save Profile'/>

</form>
<br>
</div>

